*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
input, button {
  outline: none;
  border: none;
}

.cont {
  position: relative;
  height: 100%;
  background-image: url("Home.jpg");
  background-size: cover;
  overflow: auto;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25rem;
  margin-top: -26.5rem;
  width: 50rem;
  height: 53rem;
  overflow: hidden;

}
.login {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(14, 135, 187, 0.8) 10%, rgba(255, 255, 100, 0.7) 100%);
}
.login__check {
  position: absolute;
  top: 16rem;
  left: 9.0rem;
  width: 14rem;
  height: 2.8rem;
  background: #fff;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.login__check:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 2.8rem;
  height: 5.2rem;
  background: #fff;
  box-shadow: inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);
}
.login__form {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 1.5rem 2.5rem;
  text-align: center;
  font-size: 1.6rem;
}
.login__row {
  height: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: black;
}
.login__submit {
  position: relative;
  width: 100%;
  height: 4rem;
  margin: 2rem 0 2.2rem;
  color: rgba(255, 255, 255, 0.9);
  background: #FF3366;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
}
.login__signup {
  font-size: 1.2rem;
  color: black;
}
.login__signup a {
  color: green;
  cursor: pointer;
}
.login__forget {
  font-size: 1.2rem;
  color: black;
}
.login__forget a {
  color: red;
  cursor: pointer;
}
.home__management {
	position: absolute;
  top: 7rem;
  left: 18.5rem;
  width: 14rem;
  height: 2.8rem;
	font-size: 5.2rem;
	font-family: Times New Roman;
	text-align: center;
  color:rgba(240, 230, 107, 0.8);
  cursor: none;
}
.manage__home {
	position: absolute;
  top: 20.5rem;
  left:0rem;
  width: 50rem;
  height: 2.8rem;
	font-size: 2.2rem;
	font-family: Times New Roman;
	text-align: center;
  color:rgba(210, 250, 150, 0.8);
  cursor: none;
}
